body img{
    
    background-attachment: fixed;
    background-size: cover;
}

nav,footer{
    text-align: center;
    padding: 2%;
    }
nav{
    background-image: url(/pexels-cottonbro-4272611.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
}
 nav a,footer a{
        text-decoration: none;
         color: rgb(255, 255, 255); 
         font-size: larger;
    }
    nav a:hover{
        color: rgb(233, 90, 109);
    }

p{
   text-align: center;
   font-size: large;
}

.b{    background-color: rgba(250, 235, 215, 0.466);
    background-attachment: fixed;
    background-size: cover;
     margin-left: 20%;
     margin-right: 20%;
     margin-top: 12%;
}
h3{
    padding-top: 15%;
    padding-bottom: 2%;
    text-align: center;
    color: rgb(194, 126, 126);
    font-size:xx-large;
}
.wrapper{
    font-size: larger;
    font-style: bold;
    padding-top: 5%;
    padding: 2%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.box1,.box2,.box3,.box4{
    background-color: rgba(250, 235, 215, 0.466);
    padding: 4%;
}
form{
    background-color: rgba(250, 235, 215, 0.466);
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    padding: 5%;
}
.para{
    background-color: rgba(250, 235, 215, 0.466);
    margin-right: 20%;
    margin-left: 20%;
    padding: 5%;
    font-size: x-large;
}
.work{
    padding-left: 10%;
    padding-right: 10%;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
footer{
    padding-left: 30%;
    padding-right: 30%;
}
@media only screen and (max-width:700px){
    body img{
    
        background-attachment: fixed;
        background-size: cover;
    }
    .b{
      background-color: rgba(255, 222, 173, 0);
      margin-left: 26%;
      margin-right: 24%;
    }
    *{
        text-align: center;
        width: 100%;
        align-items: center;
    }
    nav{
        padding: 0%;
        padding-top: 2%;
    }
    .br{
        margin-left: 26%;
      margin-right: 24%;
    }
    h3{
        margin-left: 26%;
      margin-right: 24%;
    }
        .wrapper{
            display: block;
        }
    .box1,.box2,.box3,.box4{
        padding: 4%;
        padding-left: 2%;
        padding-right: 2%;
        margin: 2%;
        width: 100%;
        height: 1cm;
        margin-left: 22%;
    }
    form{
        margin-left: 23%;
    }
.box6{
margin-right: 25%;
}
}